<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title> PYTEAM </title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="food_select.css">

    </head>
    <body>
        <div class="aaa">
            <h1>Select</h1>
            <div class="contents1">취향에 맞는 식당을 선택하세요.</div>
        </div>
        <div class="main_text0" id="main_text0">

            <button type="button" class="back" onclick="location.href='index.html'">BACK</button>
            <ul class="icons">
                <li>
                    <div class="icon_img">
                        <img src="image/dish.png">
                    </div>
                    <div class="contents1_bold">
                        맛집
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 맛집들
                    </div>
                    <form action="/39" method="get">
                        <button type="submit" class="more">SELECT</button>
                    </form>
                </li>

                <li>
                    <div class="icon_img">
                        <img src="image/cafe.png">
                    </div>
                    <div class="contents1_bold">
                        카페
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 카페들
                    </div>
                    <form action="/0" method="get">
                        <button type="submit" class="more">SELECT</button>
                    </form>
                </li>

                <li>
                    <div class="icon_img">
                        <img src="image/cafe.png">
                    </div>
                    <div class="contents1_bold">
                        카페
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 카페들
                    </div>
                    <form action="/10" method="get">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>
            </ul>

            <ul class="icons">
                <li>
                    <div class="icon_img">
                        <img src="image/dish.png">
                    </div>
                    <div class="contents1_bold">
                        맛집
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 맛집들
                    </div>
                    <form action="/8" method="get">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>

                <li>
                    <div class="icon_img">
                        <img src="image/cafe.png">
                    </div>
                    <div class="contents1_bold">
                        카페
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 카페들
                    </div>
                    <form action="/38" method="get">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>

                <li>
                    <div class="icon_img">
                        <img src="image/cafe.png">
                    </div>
                    <div class="contents1_bold">
                        카페
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 카페들
                    </div>
                    <form action="/9" method="get">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>
            </ul>

            <ul class="icons">
                <li>
                    <div class="icon_img">
                        <img src="image/dish.png">
                    </div>
                    <div class="contents1_bold">
                        맛집
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 맛집들
                    </div>
                    <form action="/15" method="get" id="15">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>

                <li>
                    <div class="icon_img">
                        <img src="image/cafe.png">
                    </div>
                    <div class="contents1_bold">
                        카페
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 카페들
                    </div>
                    <form action="/34" method="get" id="34">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>

                <li>
                    <div class="icon_img">
                        <img src="image/cafe.png">
                    </div>
                    <div class="contents1_bold">
                        카페
                    </div>
                    <div class="contents3">
                        우리가 열심히 검색한 카페들
                    </div>
                    <form action="/1" method="get" id="1">
                        <button type="submit" class="more">SELECT</button>
                    </form>

                </li>
            </ul>

            <button type="button" class="finish" onclick="location.href='food_finish.html'">FINISH</button>

        </div>
    </body>
</html>